<div class="container">

    <h2>Views</h2>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <a type="button" class="btn btn-primary btn-block" ng-href="#/edit_code">Adicionar</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th style="width: 70px;">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="option in data">
                <td>{{option.name}}</td>
                <td><a type="button" class="btn btn-primary btn-block" ng-href="#/edit_code/{{option.id}}">Editar</a></td>
            </tr>
        </tbody>
    </table>
</div>